<div class="container mt-5 md-5" >
    <div class="row">
        <h4 class="mb-4">商品一覧</h4>
        <%= link_to "新規投稿", new_admin_item_path %>
         <table class="table w-100 text-center">
             <thead>
                 <tr>
                     <th>商品ID</th>
                     <th>商品名</th>
                     <th>税抜価格</th>
                     <th>ジャンル</th>
                     <th>ステータス</th>
                 </tr>
             </thead>
             <tbody>
                 <% @items.each do |item| %>
                 <tr>
                     <th><%= item.id %></th>
                     <th>
                         <%= link_to admin_item_path(item.id) do %>
                         <%= item.name %>
                         <% end %>
                    </th>
                     <th><%= item.tax_excluded_price.to_s(:delimited) %></th>
                     <th><%= item.genre.name %></th>
                     <th>
                        <% if item.is_sold == false %>
                          <p class="text-black-50">販売停止中</p>
                        <% else %>
                          <p class="text-success">販売中</p>
                        <% end %>
                     </th>
                 </tr>
                 <% end %>
             </tbody>
             <%= paginate @items %>
         </table>
    </div>
</div>
<h1>テスト</h1>





