<%= notice %>
<div class='container'>
    <div class='row'>
          <div class='col-md-3 offset-md-1'>

            <h2>商品詳細</h2>
              <%= image_tag @item.image,size: "300x300" %>
            </div>
            <div class='col-md-7 offset-md-1'>
            <label>商品名</label> <%= @item.name %><br>

            <label>商品説明</label> <%= @item.explanation %><br>

            <label>ジャンル</label> <%= @item.genre.name %><br>

            <label>税込価格（税抜価格）</label>
　            <%= @item.add_tax_tax_excluded_price.to_s(:delimited) %>（<%= @item.tax_excluded_price.to_s(:delimited) %>）円<br>

            <label>販売ステータス</label>
              <% if @item.is_sold == false %>
                販売停止中
              <% else %>
                販売中
              <% end %><br>
             <%= link_to "編集する", edit_admin_item_path(@item.id),class: "btn btn-sm btn-success" %>
        </div>
    </div>
</div>