<div class="container mt-5 mb-5">
  <div class="row">
    <h4 class="mb-4">会員一覧</h4>
      <table class="table w-100 table-hover text-center">
        <thead class="thead-light">
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
          <tbody>
            <td><%= customer.id %></td>
            <td>
              <div class="link-secondary">
              <%= link_to admin_customer_path(customer.id) do %>
                <%= customer.last_name %><%= customer.first_name %>
              <% end %>
              </div>
            </td>
            <td><%= customer.email %></td>
            <% if customer.is_deleted == false %>
              <td><strong><p class="text-success">有効</p></strong></td>
            <% elsif %>
              <td><strong><p class="text-secondary">退会</p></strong></td>
            <% end %>
          </tbody>
        <% end %>
      </table>
      <%= paginate @customers %>
    </div>
  </div>