<div class="container mt-5">
  <div class="row">
    <h4>会員一覧</h4>
      <table class="table w-100">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
          <tbody>
            <td><%= customer.id %></td>
            <td>
              <%= link_to admin_customer_path(customer.id) do %>
                <%= customer.last_name %><%= customer.first_name %>
              <% end %>
            </td>
            <td><%= customer.email %></td>
            <% if customer.is_deleted == false %>
              <td><p>有効</p></td>
            <% elsif %>
              <td><p>退会</p></td>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>