<div class="container my-5">
  <%= render "error",obj: @delivery %>
  <h3><strong>配送先編集</strong></h3>
  <div class="row">
    <%= form_with model: @delivery,url:delivery_path,method: :patch do |f| %>
      <table>
        <tbody>
          <tr>
            <td>郵便番号（ハイフンなし）</td>
            <td><%= f.text_field:postcode %></td>
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>住所</td>
            <td colspan="2"><%= f.text_field:residence,size:60 %></td>
            <td></td>
          </tr>
          <tr>
            <td>宛名</td>
            <td><%= f.text_field:name %></td>
            <td></td>
            <td><%= f.submit "変更内容を保存",class:"btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
    <% end %>
  </div>
</div>