<div class="container">
  <% if current_customer.cart_items.present? %>
  <h2 class="text-center">注文情報確認</h2>
  <%= form_with model: @order, url: orders_path do |f| %>
    <table class ="table table-bordered">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <td>
            <%= image_tag cart_item.item.image, size: '40x40' %>
            <%= cart_item.item.name %>
          </td>

          <td>
            <!--商品税込単価-->
            <%= (cart_item.item.add_tax_excluded_price).to_s(:delimited) %>
          </td>

          <td>
            <%= cart_item.quantity %>
          </td>

          <td>
            <%= sum_price.to_s(:delimited) %>
          </td>
        <% end %>
      </tbody>
    </table>

    <table>
      <tr>
        <th>送料</th>
        <td>
          <%= @order.postage %>
          <%= f.hidden_field :postage, :value => @order.postage %>
        </td>

        <th>商品合計</th>
        <td>
          <%= @total_price.floor.to_s(:delimited) %>
        </td>

        <th>請求金額</th>
        <td>
          <%= f.hidden_field :total_price, :value => @total_price + @order.postage %>
        </td>
      </tr>
    </table>

    <div class="row">
      <h4>支払方法</h4>
      <%= @order.cash_i18n %>
      <%= f.hidden_field :cash, :value => @order.cash %>
    </div>
    <div class="row">
      <h4>お届け先</h4>
      〒<%= @order.postcode + ' ' + @order.residence %></br>
        <%= f.hidden_field :postcode, :value => @order.postcode %>
        <%= f.hidden_field :residence, :value => @order.residence %>

        <%= @order.name %>
        <%= f.hidden_field :name, :value => @order.name %>
    </div>
    <%= f.submit "注文を確定する", class: "btn btn-primary" %>
  <% end %>
  <% else %>
    <p></p></br>
    <h2 class="text-center">現在カートに商品はありません。</h2>
    <p></p></br>
  <% end %>
</div>