<div class="container my-4">
  <div class="row">
  <div class="col">
    <h3 class="mb-4"><strong>注文情報入力</strong></h3>
    <%= form_with model: @order, url: info_orders_path do |f| %>
    <div class="form-group">

      <div class="h5"><strong>支払い方法</strong></div>
       <div class="my-3 form-check">
        <%= f.radio_button :cash, Order.cashes.key(0) %>
        <%= f.label :cash_credit_card, Order.cashes_i18n[:credit_card] %><br>
        <%= f.radio_button :cash, Order.cashes.key(1) %>
        <%= f.label :cash_transfer, Order.cashes_i18n[:transfer] %>
       </div>

      <div class="h5"><strong>お届け先</strong></div>
        <div class="my-3 form-check">
          <%= f.radio_button :select_residence, 0, checked: "checked" %>
          <%= f.label :residence_customer_id, "ご自身の住所" %><br>
          〒<%= current_customer.postcode %>
          <%= current_customer.residence %>
        </div><p></p>

        <div class="my-3 form-check">
          <% if current_customer.deliveries.present? %>
            <%= f.radio_button :select_residence, 1 %>
            <%= f.label :select_residence, "登録済み住所から選択" %><br>
            <%= f.select :deliveries_id, options_from_collection_for_select(@deliveries.all, :id, :residence) %>
          <% else %>
          <% end %>
        </div><p></p>

        <div class=" my-3 form-check">
          <%= f.radio_button :select_residence, 2 %>
          <%= f.label :residence, "新しいお届け先" %>
          <table>
            <tr>
              <th><%= f.label :postcode, "郵便番号(ハイフンなし)" %></th>
              <td class="pl-5"><%= f.number_field :postcode, placeholder: "0000000" %></td>
            </tr>
            <tr>
              <th><%= f.label :residence, "住所" %></th>
              <td class="pl-5 col-xs-4"><%= f.text_field :residence, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
            </tr>
            <tr>
              <th><%= f.label :name, "宛名" %></th>
              <td class="pl-5"><%= f.text_field :name, placeholder: "令和道子" %></td>
            </tr>
          </table>
        </div><p></p>

      <div class="pl-5">
        <%= f.submit "確認画面に進む", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
  </div>
</div>
