<div class="container px-3">
  <div class="row">
      <div class="col-md-3">
　　    <table class="table table-bordered">
          <thead>
            <th>ジャンル検索</th>
          </thead>
          <tbody>
           <% @genres.each do |genre| %>
             <tr>
               <td>
                 <%= genre.name %>
               </td>
             </tr>
           <% end %>
          </tbody>
          </table>
      </div>

    <div class="col-md-9">
    <h2>商品一覧</h2><p>(全<%= @items_all.count %>件)</p>
    <div class="col d-flex justify-content-evenly">
     <% @items.each do |item| %>
       <%= link_to item_path(item) do %>
         <%= image_tag item.image, size: '100x100' %>
       <% end %><br>
      <p><%= item.name %></p><br>
      <p>¥<%= item.tax_excluded_price.to_s(:delimited) %></p>
     <% end %>
     </div>
    </div>
  </div>
</div>