<div class='conteiner'>
  <div class='row mt-5 mb-5 ml-2'>
    <div class='col-md-3 ml-5'>
      <%= render 'public/homes/genrebar', genre: @genre %>
    </div>
    <div class='col-md-8 mt-4 mb-5'>
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <%= image_tag @item.image,size: "300x250" %>
          </div>
          <div class="col-md-5 ml-3">
            <h3 class="font-weight-bold mb-3"><%= @item.name %></h3>

            <p><%= @item.explanation %></p>

　          <h5 class="font-weight-bold mb-3">¥<%= @item.add_tax_tax_excluded_price.to_s(:delimited) %>(税込)</h5>
            <div class="form-group">
              <%= flash[:notice] %>
               <% if @item.is_sold == true %>
               <%= form_with model: @cart_item,url:cart_items_path,method: :post do |f| %>
                 <%= f.select:quantity, {"個数選択"=>0,"1"=>1,"2"=>2,"3"=>3,"4"=>4,"5"=>5,"6"=>6,"7"=>7,"8"=>8,"9"=>9,"10"=>10}, class: "form-control" %>
                 <%= f.hidden_field:item_id,value: @item.id %>
                 <%= f.submit "カートに入れる",class:"btn btn-sm btn-success ml-3" %>
               <% end %>
               <% else %>
                 <p>販売停止中</p>
               <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>