<div class="p-4">
  <%= link_to image_tag('head_logo.png'), root_path, class: "pl-3" %>
</div>
<nav class="navbar navbar-expand-lg bg-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
   aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <div class="user-name text-light center-block ml-auto">
      <% if customer_signed_in? %>
        <p class="pt-3">ようこそ、<span class="h5"><strong><%= current_customer.last_name %><%= current_customer.first_name %></strong></span> 様</p>
      <% elsif admin_signed_in? %>
        <p class="h5 pt-3 pb-2"><strong>管理者ログイン中</strong></p>
      <% else %>
        <p class="pt-3">ようこそ、<span class="h5"><strong>ゲスト</strong></span> 様</p>
      <% end %>
    </div>
    <ul class="navbar-nav ml-auto">
      <% if admin_signed_in? %>
        <li class="nav-link px-2">
          <%= link_to admin_items_path, class: "text-decoration-none text-light h5" do %>
            <i class="fas fa-cookie-bite"></i> 登録商品一覧
          <% end %>
        </li>
        <li class="nav-link px-2">
          <%= link_to admin_customers_path, class: "text-decoration-none text-light h5" do %>
            <i class="fas fa-users"></i> 会員一覧
          <% end %>
        </li>
        <li class="nav-link px-2">
          <%= link_to admin_orders_path, class: "text-decoration-none text-light h5" do %>
            <i class="far fa-file-alt"></i> 注文履歴一覧
          <% end %>
        </li>
        <li class="nav-link px-2">
          <%= link_to destroy_admin_session_path, method: :delete, class: "text-decoration-none text-light h5" do %>
            <i class="fas fa-sign-out-alt"></i> 管理者ログアウト
          <% end %>
        </li>

      <% elsif customer_signed_in? %>
        <li class="nav-link px-2">
          <%= link_to customer_path(current_customer.id), class: "text-decoration-none text-light h5" do %>
            <i class="fas fa-user"></i> マイページ
          <% end %>
        </li>
        <li class="nav-link px-2">
          <%= link_to items_path, class: "text-decoration-none text-light h5" do %>
            <i class="fas fa-cookie-bite"></i> 商品一覧
          <% end %>
        </li>
        <li class="nav-link px-2">
          <%= link_to cart_items_path, class: "text-decoration-none text-light h5" do %>
            <i class="fas fa-shopping-cart"></i> カート
          <% end %>
        </li>
        <li class="nav-link px-2">
          <%= link_to destroy_customer_session_path, method: :delete, class: "text-decoration-none text-light h5" do %>
            <i class="fas fa-sign-out-alt"></i> ログアウト
          <% end %>
        </li>

      <% else %>
        <li class="nav-link px-2">
          <%= link_to about_path, class: "text-decoration-none text-light text-light h5" do %>
            <i class="fas fa-link"></i> About
          <% end %>
        </li>
        <li class="nav-link px-2">
          <%= link_to items_path, class: "text-decoration-none text-light h5" do %>
            <i class="fas fa-cookie-bite"></i> 商品一覧
          <% end %>
        </li>
        <li class="nav-link px-2">
          <%= link_to new_customer_registration_path, class: "text-decoration-none text-light h5" do %>
            <i class="fas fa-user-plus"></i> 新規登録
          <% end %>
        </li>
        <li class="nav-link px-2">
          <%= link_to customer_session_path, class: "text-decoration-none text-light h5" do %>
            <i class="fas fa-sign-in-alt"></i> 会員ログイン
          <% end %>
        </li>
        <li class="nav-link px-2">
          <%= link_to admin_session_path, class: "text-decoration-none text-light h5" do %>
            <i class="fas fa-sign-in-alt"></i> 管理者ログイン
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>